@using StorMan.Model

@{
    ViewBag.Title = "Kategori Eşleştirme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var localCategoryList = ViewBag.LocalCategories as List<LocalCategoryModel> ?? new List<LocalCategoryModel>();
    var categoryTable = ViewBag.CategoryTable as Dictionary<string, CategoryModel> ?? new Dictionary<string, CategoryModel>();
}

@section scripts
{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/todo")*@

    @Scripts.Render("http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js")
    @Styles.Render("http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css")
    <script type="text/javascript">
        
        function LocalCategory(id, name, level, code, mainCategory, category, subCategory, remoteCategory) {
            var self = this;
            self.ID = id;
            self.Level = level;
            self.Code = code;
            self.MainCategory = mainCategory;
            self.Category = category;
            self.SubCategory = subCategory;
            self.RemoteCategory = ko.observable(remoteCategory);
        }
        
        function Category(id, name, code) {
            var self = this;
            self.ID = id;
            self.Name = name;
            self.Code = code;
            self.FullName = ko.computed(function() {
                return self.Name + "(" + self.Code + ")";
            });
            
        }
        
        function CategoriesViewModel() {
            var self = this;

            self.Categories = [
            @foreach (var code in categoryTable.Keys.Take(20))
                {
                    var category = categoryTable[code];
                    <text>new Category('@category.ID', '@Html.Raw(category.Name.Replace("'", ""))', '@category.Code'),</text>
                    
                    @*@Html.Raw(categoryTable.Count == 0 ? "" : categoryTable.Values.Select(x => String.Format("new Category({0}, '{1}', '{2}')", x.ID, x.Name, x.Code)).Aggregate((x,y) => x + ",\n" + y))*@
                }
            ];

            self.CategoryTable = new Object();
            for (var cat in self.Categories)
            {
                self.CategoryTable[cat.Code] = cat;
                break;
            }

            self.localCategories = [
                @Html.Raw(localCategoryList.Count == 0 ? "" : localCategoryList.Select(x => String.Format("new LocalCategory({0}, '{1}', {2}, '{3}', '{4}', '{5}', '{6}', self.Categories['{3}'])", x.ID, x.Name, x.Level, x.Code, x.MainCategoryName, x.CategoryName, x.SubCategoryName)).Aggregate((x, y) => x + ",\n" + y))
            ];

            self.showCategories = function() {
                alert(self.Categories.length);
            };
            
        }

        //var vm = new CategoriesViewModel();
        //vm.showCategories();


        $(document).ready(function() {
            
            ko.applyBindings(new CategoriesViewModel());
            
            $("#catTable").dataTable();
            
        });
        

    </script>
}


@{
    var i = 0;
}

<div>
    
    <table id="catTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Seviye</th>
                <th>Kategori Kodu</th>
                <th>Ana Kategori</th>
                <th>Kategori</th>
                <th>Alt Kategori</th>
                <th>GittiGidiyor Kategorisi</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: localCategories">
            <tr>
                <td data-bind="text: ID">@i</td>
                <td data-bind="text: Level"></td>
                <td data-bind="text: Code"></td>
                <td data-bind="text: MainCategory"></td>
                <td data-bind="text: Category"></td>
                <td data-bind="text: SubCategory"></td>
                <td>
                    <select data-bind="options: $root.Categories, value: RemoteCategory, optionsText: 'FullName'"></select>
                </td>
            </tr>

            @*@foreach (LocalCategoryModel localCategory in ViewBag.LocalCategories)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>@localCategory.Level</td>
                    <td>@localCategory.Code</td>
                    <td>@localCategory.MainCategoryName</td>
                    <td>@localCategory.CategoryName</td>
                    <td>@localCategory.SubCategoryName</td>
                    <td>
                        @localCategory.RemoteCategoryName
                    </td>
                </tr>
            }*@
        </tbody>
    </table>
    
</div>


@if (@User.Identity.IsAuthenticated)
{
}
